[submodule "backend"]
    path = backend
    url = https://github.com/Ezratarab/symply-care-backend.git
[submodule "frontend"]
    path = frontend
    url = https://github.com/Ezratarab/symply_care_react2.git
